.container{
    display: flex;
    width: 100%;
    background-color: blueviolet;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}
.container>h5{
    font-size: 30px;
    color: white;
}
.container>button{
    width: 120px;
    height: 30px;
    background-color: rgb(80,19,129);
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}