.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    
}

.cartItemsContainer{
    width: 100%;
    display:flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}